body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-recipe {
  max-width: 660px;
  padding: 15px;
  margin: 0 auto;
}
.form-recipe .form-recipe-heading,
.form-recipe {
  margin-bottom: 10px;
  text-align: center;
}
.form-recipe .checkbox {
  font-weight: normal;
}
.form-recipe .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-recipe .form-control:focus {
  z-index: 2;
}

.form-recipe input[type="text"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 10px;
}

.form-recipe textarea[type="text"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 10px;
}

.checkbox {
  text-align: center;
}
.btn {
  margin-top: 10px; 
}

#author {
  text-align: center;
}

.row {
  text-align: left;
}

.label {
  text-align: left; 
}